<h2>Zaloguj się</h2>

<hr>

<form name="login" [formGroup]="form" (ngSubmit)="logUser()">

  <label for="user">
    Login: <input name="user" id="user" [formControlName]="'user'">
  </label>
  <label for="pass">
    Pass: <input name="pass" [formControlName]="'pass'" id="pass" type="password">
  </label>


  <button type="submit"> Zaloguj </button>

</form>
