<div id="currency">
  <strong>{{formatNamePl(currencyName)}}</strong><strong class="yellow-color">  {{format(currencies[currencyName].bid)}}</strong>
</div>

<app-currency-usd [currencyName]="currencyName" [currency]="format(currencies[currencyName].bid)"></app-currency-usd>
